<div id="chart">
<!--    <h3 id="title"> 데이트 장소 1~5위 </h3>-->
<!--    <canvas id="zone"></canvas>-->
<!--    <hr>-->
    <h3 id="title"> 우리 지금까지 다녀왔습니다. </h3>
        <table class="table">
            <thead>
                <th> No </th>
                <th> 지역 </th>
                <th> 방문 횟수 </th>
            </thead>
            <tbody id="region">

            </tbody>
        </table>
    <hr>
</div>