<body>
    <div id="menu">
        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"> < </i>
        </button>
        <span id="renderRange" class="render-range"></span>
        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"> > </i>
        </button>
        <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
    </div>
    <div id="calendar"></div>

</body>