<div id="wrap">
    <div id="header">
        <%- include('./_header/header.ejs')%>
    </div>
    <div id="main">
        <%- include('./_main/main.ejs')%>
    </div>
    <div id="footer">
        <%- include('./_footer/footer.ejs')%>
    </div>
</div>

<!-- modal -->
<%- include('./_modal/chart/charts.ejs')%>