#menu {
    display: flex;
    margin-bottom: 10px;
}
#menu > div:nth-child(1) {
    flex-grow: 2;
    text-align: right;
}
#menu > div:nth-child(2) {
    flex-grow: 1;
    text-align: right;
}

.move-today {
    border: 1px solid gray;
}

.render-range, .move-today {
    margin-left: 10px;
    margin-right: 10px;
}

.render-range, .move-day, .dday {
    font-weight: bold;
    font-size: 20px;
}

#d_day {
    color: #ff0600;
}