#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.move-today {
    border: 1px solid gray;
}

.render-range, .move-today {
    margin-left: 10px;
    margin-right: 10px;
}

.render-range, .move-day {
    font-weight: bold;
    font-size: 20px;
}