<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/tui-calendar/dist/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="/tui-date-picker/dist/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="/tui-time-picker/dist/tui-time-picker.css" />
</head>