<title><%= title %></title>
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- toast alert -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- toast-ui -->
<link rel="stylesheet" type="text/css" href="/tui-calendar/dist/tui-calendar.css" />
<link rel="stylesheet" type="text/css" href="/tui-date-picker/dist/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="/tui-time-picker/dist/tui-time-picker.css" />

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/chart.css" />