<h1> 할일 </h1>
<div class="memo">
    <textarea id="memo" placeholder="할 일은 여기에 표시됩니다.">
    </textarea>
</div>
<div class="memo">
    <button type="button" id="memo_save" class="btn btn-outline-primary"> 저장 </button>
</div>